---
layout: layouts/base.njk
title: Title Strings
---
<h1>{{siteData.name}}</h1>
      <div>
        <img src="img/holding-art.jpeg" class="holding-image" alt="Distant mountains with a waterfall leading into a forest valley." />
      </div>
      <p>Coming Soon...</p>