body {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #222222;
}

.wrapper {
    text-align: left;
    margin: 20px;
}

.site-title {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery::after {
    content: "";
    max-width: 400px;
    margin: 20px auto;
    width: 100%;
}

.gallery__item {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.gallery__image {
    width: 100%;
}

.gallery__title {
    font-weight: 700;
}

.gallery__description {
    font-weight: 300;
    color: #5a5a5a;
    font-size: 1.2em;
}