---
layout: layouts/base.njk
title: Title Strings
---
<h1>{{siteData.name}}</h1>
{% for art in siteData.art %}
<article>
    <h2>{{ art.name }}</h2>
    <img src="{{art.image}}.jpeg" class="holding-image" alt="{{art.description}}" />
</article>
{% endfor %}
<p>Coming Soon...</p>
