---
layout: layouts/base.njk
title: JB Nolan Art
---
<section class="gallery--small">
    <article class="gallery__item--small">
        <h2 class="gallery__title--small">Mountain Ranges (Coming Soon)</h2>
        <img class="gallery__image--small" src="/{{siteData.art.vertical[0].image}}.jpg" alt="Collection of Mountain Art for sale coming soon" />
        <figcaption class="gallery__description--small">Collection of Mountain Art for sale</figcaption>
    </article>

    <article class="gallery__item--small">
        <a href="/practice/" title="Practice and assorted paintings">
            <h2 class="gallery__title--small">Practice and assorted paintings</h2>
            <img class="gallery__image--small" src="/{{siteData.art.vertical[1].image}}.jpg" alt="Practice and assorted paintings" />
            <figcaption class="gallery__description--small">Practice and assorted paintings</figcaption>
        </a>
    </article>
</section>
